* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}


h2 {
  color: white;
text-shadow: 1px 1px 2px #000;
}

p {
    color:#fff;
    text-shadow: 1px 1px 2px #000;
    
}

a {
    text-shadow: #fff;
    text-shadow: 1px 1px 2px #000;;
}

body {
  font-family: "Oswald", sans-serif;
  background-color: #000000;
  /* Pattern from https://www.heropatterns.com/ */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='105' viewBox='0 0 80 105'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='death-star' fill='%23540606' fill-opacity='0.4'%3E%3Cpath d='M20 10a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm15 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zM20 75a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zm30-65a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm0 65a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zM35 10a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zM5 45a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zm60 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  color: #1e272e;
  color: #fff;
  font-size: 16px;
}

a {
    color: white;
    text-decoration: none;
}

ul {
    list-style: none;
}
.container {
    width: 90%;
    margin: auto;
}

/* navegation */

.nav-main {
    background-color: #000000;
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;    
    padding: 20px 0;
    height: 60px;
    position: relative;
}

.nav-brand {
    width: 50px;
}

.nav-main ul {
    display: flex;
}

.nav-main ul li {
    padding: 10px;
}

.nav-main ul li a {
    padding: 2px;
}

.nav-main ul li a:hover {
    border-bottom: 3px solid #fff;
}

.nav-main ul.nav-menu {
    flex: 1;
    margin-left: 20px;
    display: flex;
}

/* Menu Toggle */
.menu-btn {
    display: none;
    position: fixed;
    cursor: pointer;
    top: 15px;
    right: 30px;
    z-index: 3;
    font-size: 1.5rem;
}

/* Default desktop nav: horizontal and visible */
.nav-main ul.nav-menu {
    position: static;
    transform: none;
    transition: none;
    width: auto;
    height: auto;
    background: transparent;
    flex-direction: row;
}

/* Mobile drawer (applies only on small screens) */
@media (max-width: 768px) {
  .menu-btn { display: block; background: #000; }

  .nav-main ul.nav-menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 250px;
    height: 100vh;
    background-color: #000000;
    flex-direction: column;
    padding-top: 60px;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 2;
    display: flex;
  }

  .nav-main.show ul.nav-menu { transform: translateX(0); }

  .nav-main ul.nav-menu li { padding: 15px 20px; border-bottom: 1px solid #444; width: 100%; }

  .nav-main ul.nav-menu-right { display: none; }
}



/* showcase */

hr {
    margin: 10px 0;
}
.showcase {
  width: 100%;
  height: 550px;
  background: url("./img/background.png") no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-end;
  padding-bottom: 50px;
  margin-bottom: 20px;
  color: #fff;
}

.btn {
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background: #262626;
    color: #fff;
    font-size: 15px;
    border: 1px solid #fff;

}

.btn:hover {
  opacity: .7;
}

.showcase h2,
.showcase p {
  margin-bottom: 10px;
}


/* News Cards */
.news-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  margin: 10px 0;
}

.news-cards img {
  width: 100%;
  height: 280px;
}

.news-cards h3 {
  margin: 10px 0;
  color: #f2f2f2;
  text-transform: uppercase;
  display: inline-block;
  font-weight: bold;

}
.news-cards a:hover {
  text-decoration: underline;
}

/* cards banner */

.cards-banner-one {
 width: 100%;
 height: 350px;
 background: url(./img/banner22.webp) no-repeat center center/cover;
 margin-bottom: 40px;
}
.cards-banner-one .content {
  width: 40%;
  padding: 90px 0 0 30px;
  color: #f2f2f2;
  text-shadow: 1px 1px 2px #000;
}

.cards-banner-one p,
.cards-banner-one h2 {
  margin-bottom: 20px;
}

.cards-banner-two {
     width: 100%;
     height: 350px;
     background: url(./img/banner3.jpg) no-repeat center;
}

.cards-banner-two .content {
  width: 50%;
  padding: 100px 0 0 30px;
  color: #f2f2f2;
  text-shadow: 1px 1px 2px #000;
}

.social p {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;

}

.links  {
    display: flex;
    align-items: center;
    justify-content: center;
}

.links a {
    margin: 0 30px;
}

.links a i {
    font-size: 3rem;
}

/* footer links */

.footer-links {
    background: black;
    color: antiquewhite;
    font-size: 12px;
    padding: 35px 0;
}
.footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
}

.footer-container ul {
   margin: 0 auto;

}

.footer-container ul li {
    line-height: 2.8;
}

.footer {
    background: #2f333a;
    color: gray;
    text-align: center;
    padding: 20px 0;
}

/* Mobile */
@media(max-width: 700px) {
    .nav-main ul.nav-menu{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: #000;
        height: 100%;
        transform: translateX(-400px) ;
        padding: 30px;
        opacity: .9;
        border-right: #ccc 1px solid;
        transition: transform .5s ease-in-out
        

    }

    .nav-main ul.nav-menu.show{
        transform: translateX(-20px);
    }

  .nav-main ul.nav-menu li {
    padding: 20px;
    border-bottom: #ccc solid 1px;
    font-size: 14px;
  }



  .nav-main ul.nav-menu-right {
      margin-right: 50px;
  } 

  .news-cards {
    grid-template-columns: repeat(2,1fr);

    }   

    .cards-banner-one .content, .cards-banner-two .content {
       width: 80%; 
    }

    .footer-links .footer-container {
        grid-template-columns: repeat(2, 1fr);
    }
}